* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.game {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  height: 600px;
  width: 962px;

  background: url('./assets/img/game.jpg') center no-repeat;
}

.screen {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding-bottom: 30px;
  height: 363px;
  width: 506px;

  border-radius: 10px;
  /* 
  background: url('./assets/img/fon.jpg') center / contain no-repeat; */
  background: url('./assets/img/fon_color_2.jpg') center / contain no-repeat;
}

.wolf {
  position: relative;

  display: flex;
  justify-content: center;

  width: 250px;
  height: 170px;
}

.wolf__body {
  position: absolute;

  width: 100px;
  height: inherit;
}
.wolf__body--left {
  left: 25px;

  background: url('./assets/img/wolf/wolf_left.png') center / contain no-repeat;
}
.wolf__body--right {
  left: 115px;
  background: url('./assets/img/wolf/wolf_right.png') center / contain no-repeat;
}

.wolf__hands {
  position: absolute;
  z-index: 10;
  width: 57px;
  height: 57px;
}
.wolf__hands--left--down {
  top: 65px;
  left: -17px;

  background: url('./assets/img/wolf/bottom_left.png') center / contain
    no-repeat;
}
.wolf__hands--left--up {
  top: -10px;
  left: -16px;
  background: url('./assets/img/wolf/top_left.png') center / contain no-repeat;
}

.wolf__hands--right--down {
  top: 75px;
  right: -10px;
  background: url('./assets/img/wolf/right_bottom.png') center / contain
    no-repeat;
}
.wolf__hands--right--up {
  top: 0px;
  right: -20px;
  background: url('./assets/img/wolf/right_top.png') center / contain no-repeat;
}

.none {
  display: none;
}

/* trays */

.trays {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 110px;
  height: inherit;
  padding: 150px 0 90px 0;
}

.tray {
  position: relative;

  display: flex;

  width: 110px;
  height: 30px;
}

.tray__item {
  /*   position: absolute; */

  background-color: darkgoldenrod;
  height: 7px;
}

.tray-left .tray__item--horizontal {
  width: 40px;
}

.tray-left .tray__item--tilted,
.tray-left .tray__egg-path {
  position: absolute;
  top: 14px;
  left: 35px;

  width: 70px;

  transform: rotate(25deg);
}

.tray-left .tray__egg-path {
  top: 0px;
  left: 40px;

  height: 22px;
  width: 85px;

  background: none;
}

.tray-left .tray__item--horizontal::after {
  position: absolute;

  z-index: 10;
  top: -66px;
  left: -13px;

  content: '';

  width: 80px;
  height: 80px;

  background: url('./assets/img/chicken_left.png') center / contain no-repeat;
}

.tray-right {
  flex-direction: row-reverse;
}

.tray-right .tray__item--horizontal {
  position: relative;

  width: 40px;
}

.tray-right .tray__item--tilted,
.tray-right .tray__egg-path {
  position: absolute;
  top: 14px;
  right: 35px;
  width: 70px;

  transform: rotate(-25deg);
}

.tray-right .tray__egg-path {
  top: 3px;
  right: 44px;
  z-index: 10;

  height: 22px;
  width: 85px;

  background: none;
}

.tray-right .tray__item--horizontal::after {
  position: absolute;
  z-index: 10;
  top: -66px;
  left: -27px;

  content: '';

  width: 80px;
  height: 80px;

  background: url('./assets/img/chicken_right.png') center / contain no-repeat;
}

/* egg */
.egg {
  position: absolute;
  top: 0;
  z-index: 10;

  width: 15px;
  height: 20px;

  background: url('./assets/img/egg.png') center / contain no-repeat;

  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 3s;
}

.egg--left {
  left: 0;
  animation-name: egg_moves_left;
}

@keyframes egg_moves_left {
  0% {
    left: 0;
    transform: rotate(0);
  }
  100% {
    left: 70px;
    transform: rotate(360deg);
  }
}

.egg--right {
  right: 0;
  animation-name: egg_moves_right;
}

@keyframes egg_moves_right {
  0% {
    right: 0;
    transform: rotate(0);
  }
  100% {
    right: 70px;
    transform: rotate(-360deg);
  }
}

/* control__button */

.control {
  position: relative;
  top: -58px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 38px;

  height: inherit;
}

.control--left {
  left: -36px;
}
.control--right {
  left: 36px;
}

.control__button {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  outline: none;
  border: none;
  background-color: red;

  font-size: 20px;
  font-weight: 700;
  color: #fff;

  box-shadow: 0px 0px 7px 2px #796f65;

  cursor: pointer;

  transition: all 0.1s;
}

.control__button--active {
  transform: scale(0.93);

  background-color: blue;
  box-shadow: 0px 0px 1px 2px #796f65;
}

/* info */
.info {
  position: absolute;
  top: 5px;
  right: 50px;
}

.info__score {
  font-size: 34px;
}

.info__life {
  font-size: 17px;
}

/** Footer **/

.footer {
  position: fixed;
  bottom: 0;

  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2%;

  width: 100%;
  max-width: 1400px;
  height: 60px;

  font-size: 2rem;
}

.footer-info {
  display: flex;
  width: 250px;

  justify-content: space-between;
}

.footer-info__link {
  text-decoration: none;
  color: black;
}

.footer__school-link {
  padding-left: 17px;

  width: 100px;
  height: 80%;

  background: url('./assets/svg/rs_school_js.svg') center no-repeat;

  text-decoration: none;
}

.footer__school-link:hover {
  color: #eb5113;
}

/* game-result */
.game-info,
.game-result,
.statistics {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 10px;

  font-size: 40px;
  font-weight: 700;

  background-color: #62dff1;
}

.game-result--win {
  background: #62dff1 url('./assets/img/fon_win.png') bottom / 55% no-repeat;
}
.game-result--lose {
  background: #62dff1 url('./assets/img/fon_lose.png') bottom / 80% no-repeat;
}

.game-result__result,
.game-result__score {
  text-align: center;
  margin-bottom: 5px;
}

/* settings */

.settings {
  position: absolute;
  top: 50px;
  right: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  width: 80px;
  height: 190px;

  border-radius: 10px;

  background: linear-gradient(
    315deg,
    rgb(251, 250, 248) 41%,
    rgb(251, 250, 248) 40%,
    rgb(240, 232, 220)
  );
}

.settings__button {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: #c7bfaa;

  box-shadow: 0px 0px 5px 2px #796f65;

  outline: none;
  border: none;

  font-size: 20px;

  cursor: pointer;

  transition: 0.5s all;
}

.settings__button--info:active,
.settings__button--results:active {
  box-shadow: 0px 0px 0px 2px #796f65;
}

.settings__button--start--run {
  box-shadow: 0px 0px 0px 2px red;
  color: red;

  cursor: not-allowed;
  pointer-events: none;
}

.settings__button--info--run,
.settings__button--results--run {
  box-shadow: 0px 0px 0px 2px greenyellow;
  color: greenyellow;

  cursor: not-allowed;
  pointer-events: none;
}

/* statistics / info */
.game-info--open,
.statistics--open {
  display: block;
  z-index: 200;

  text-align: center;
}

.game-info__title,
.statistics__title {
  font-size: 32px;
  padding-bottom: 10px;
}

.game-info__list {
  margin: 0 auto;
  width: 90%;
  padding: 20px 0 20px 0;

  font-size: 24px;
  text-align: left;
}

.game-info__list li {
  padding-bottom: 10px;
}

.statistics-table {
  margin: 0 auto;
  font-size: 24px;
}

/* Fon */
.fon {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 20%;

  border-radius: 10px;

  background: url('./assets/img/grass.png') bottom / 106% 70% no-repeat;
}
