body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: lightgray;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 320px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 8px 11px rgba(0, 0, 0, 0.06);
}

.controls {
  padding: 0 5px;
}

.control-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.control-panel--frist .control-button {
  width: 30px;
  height: 30px;
}
.control-panel--second .control-button {
  width: 40px;
  height: 40px;
}

.control-panel__sound {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 100%;
  height: 100%;
}

.progress {
  margin: 10px 0;
  width: 100%;
  height: 8px;
  background-color: lightgray;
  border-radius: 8px;
  overflow: hidden;
}
.progress__line {
  height: inherit;
  background-color: gray;
}

.timeline {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.control-track-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.current-track__image {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* track-items */
.track-items {
  padding: 0 5px;
}

.track-items__title {
  padding: 0 0 10px 5px;
  font-size: 14px;
  color: darkgray;
}

.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
  cursor: pointer;
}

.track-item__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.track-item__titles {
  flex: 1;
  overflow: hidden;
  font-size: 14px;
}

.track-item__name,
.track-item__group {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-item__group {
  margin-bottom: 5px;
}

.track-item__duration {
  font-size: 11px;
}

.control-button__playing .pause_icon {
  display: none;
}
.control-button__playing--play .pause_icon {
  display: block;
}
.control-button__playing--play .play_icon {
  display: none;
}

.current-track__info {
  padding: 5px;
  color: darkgray;
}

/* control-button */
.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: transform 0.25s ease;
  cursor: pointer;
}
.control-button .icon {
  fill: lightgray;
}
.control-button:active {
  transform: scale(0.9);
}
.control-button.active .icon {
  fill: gray;
}
.control-button .mute-icon,
.control-button .volume-quiet-icon,
.control-button .volume-medium-icon,
.control-button .volume-loud-icon {
  display: none;
}
.control-button--mute .mute-icon {
  display: block;
}
.control-button--volume-quiet .volume-quiet-icon {
  display: block;
}
.control-button--volume-medium .volume-medium-icon {
  display: block;
}
.control-button--volume-loud .volume-loud-icon {
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .control-button:hover .icon {
    fill: gray;
  }
}